files:
  /etc/pki/tls/certs/server.crt:
    mode: "000644"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIDWzCCAkOgAwIBAgIUa1FyGnWgKvhD4hVWgfiDAdpGmDIwDQYJKoZIhvcNAQEL
      BQAwVjELMAkGA1UEBhMCVVMxEjAQBgNVBAgMCVdpc2NvbnNpbjEQMA4GA1UEBwwH
      TWFkaXNvbjEhMB8GA1UECgwYSW50ZXJuZXQgV2lkZ2l0cyBQdHkgTHRkMB4XDTI2
      MDUwODIyNDM1N1oXDTI3MDUwODIyNDM1N1owVjELMAkGA1UEBhMCVVMxEjAQBgNV
      BAgMCVdpc2NvbnNpbjEQMA4GA1UEBwwHTWFkaXNvbjEhMB8GA1UECgwYSW50ZXJu
      ZXQgV2lkZ2l0cyBQdHkgTHRkMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKC
      AQEAj7R17owHUdohoZ22ftIAdv0+aBkNIwPCliH4/Cnxg0JE8AsQsabMX9jLx5En
      pFUtqUV0uxs0h1K/HEOIiyM1ulYgBRAcsN2DW1PG2/iDrKlNwOfQWJ2UA7zEywd1
      sSonMfmk332XGCWl3x3yasn/0Z0Z61ikOPwGoy0AzEfDgN60LbyhgOe+gyNObEzQ
      /G4dxDkmPljmMb2E72JWggyKGQ+RlmgB0QJmYFt7uxhaT5lq375WP7uy18js0zX1
      Bf4Vw0uU78e3OmTOH3tPCmyTXBtiwjgqrU6CnY7tmC5br8HkBtuxcBC2Tj//kPLW
      UJudYHRBv/zMWrMYxbZ3sJ6lyQIDAQABoyEwHzAdBgNVHQ4EFgQUDAYGbdkpLx/7
      LfnR+K7QQJPtMZEwDQYJKoZIhvcNAQELBQADggEBADh2tTyNq9awPNJ3+77H8tOc
      Q1wSsiLcSUoJ5cYgU3aK7Srt/g1QqaX5u1dBdjmvqg0mL4Lt8s6NcOaGqajHf9c5
      UPIQ+2H2vWxQFXUoeR+bMyX12T7sobsfrdslEiJNvZUD3kn5FYiQwErmscMA9MYe
      Iodm0LSNWOKddfk20U1oEfstLHJpkrZFQ420emKpfwk9vLJC//+9NtC6lJgZ06uG
      pYQYyzcnBySbotfihQeYn6VwuSnLEazuXj0EB7+upJnZ+O2HHvdn9Lcj5jhw2Sq4
      pWQ6twFgQksp5aGBn0ibnUZZDZPCX9Sv0r+U7rXCMEXSmfTQ6x2c4j5yb0MV2gw=
      -----END CERTIFICATE-----

      
  /etc/pki/tls/certs/server.key:
    mode: "000600"
    owner: root
    group: root
    content: |
      -----BEGIN PRIVATE KEY-----
      MIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQCPtHXujAdR2iGh
      nbZ+0gB2/T5oGQ0jA8KWIfj8KfGDQkTwCxCxpsxf2MvHkSekVS2pRXS7GzSHUr8c
      Q4iLIzW6ViAFEByw3YNbU8bb+IOsqU3A59BYnZQDvMTLB3WxKicx+aTffZcYJaXf
      HfJqyf/RnRnrWKQ4/AajLQDMR8OA3rQtvKGA576DI05sTND8bh3EOSY+WOYxvYTv
      YlaCDIoZD5GWaAHRAmZgW3u7GFpPmWrfvlY/u7LXyOzTNfUF/hXDS5Tvx7c6ZM4f
      e08KbJNcG2LCOCqtToKdju2YLluvweQG27FwELZOP/+Q8tZQm51gdEG//MxasxjF
      tnewnqXJAgMBAAECggEABAzK8hEiN61VG0/tj79tYe0bMCXcl+sINeD5OmoYM2HP
      vZAiRU91HRJoE9TEcD4yTj313zwSC+pKForUs08nuXup5Vqh5F4p0I4Y4aQsWdZf
      qZse5RBz1nMgfLRWHcsZVbA6dE3+zyBof1RBu767pfWugFJ8Nlrr+PdQuXEgUmZp
      i4CzXkJXJgFfDMUR3soU6Qn1iC4YFv0kda5kgbpouoCN0Xv5wlUYTTjbsQhKsVS/
      jx6BK5Lw7cJkOCZ+2V/VwFFPnXDDAyUF8m1qonIFn4oG8SOyYRB/OIXbxsnt2UYE
      xi6UlzOaKGszfzDGBz4GCbY9XBhs3RE6h3RtuRR6AQKBgQDK6M2bU/mO9GCBO+vW
      +qMJxSKI7uiiV9ydfQdchaKCw5+y3pP/YCyH4UerVMs92I/ciETKxjUMCkI/aFq+
      s0s80EBPowxc+Md3qPWkq4RLquSgIOfEiJWHPrZ+fyFcSQOdDVP8oo8IfM4UI3LE
      TP9esEB/2mghfUHEGd4DsSXywQKBgQC1TgwmD09KQpiFGIXBnXOFxd0D23rC8EzQ
      Uw0xsA41xzDmVgC+nwKwTDAZ39vFnPQWd+YraW69/bcxA+nnedQYRRalP1+sUoTu
      Tz8/HGzp6zLQDTKHBoY2sJw9HGsFVUwzQ+ktAHxcu371xMhkEKHACqvqmYR04U+R
      SOOESFldCQKBgBcvzTb/vJfSYyjBcSzKzVCzf0PIkTrj8Wjpvaqb9rscoaYt+xmG
      ovAQFUGF2gfCNIZN6BaH2c37aiCWyy/ZizJy1baD+kixgRGydAeSNfbzm1aVDAcQ
      WI3w46fG3UgPa+NJf5xx8whUQrRYbKfz6Iaoe2Zgzd9t0dMX5Z/kYWLBAoGBAK+8
      awIpLM3qJzQ7RMsa9vLfiw9GGoQBsDLtjYhwAhYWcUuSaT5bmpuP/b/WwIuXSvDM
      XwoNNA5scrjL9lksOW0c6opaFz5M7hSgM8nUn61NEP+hCyzeIhG4tnh1pzaQK0A1
      vzqjkefAxZsrlqGHjYE71s+a5kz0Z8+HOyDpj9UhAoGAH/I1BjZbkj9aXjCYoKEd
      y79Cg6aIfZwj/0APT7blPAYBblp2xBQ4YhUrY7MciuHd5MyOhI8o/kthC7/eg96q
      H7lyrUtIgVXizwH0capR/NEPSQdwASYJsa86eVvWIg12Bj8YynUlmXsH6zRnzSeP
      aGxgu58gANvxO/i4ybR6HUU=
      -----END PRIVATE KEY-----

  /opt/elasticbeanstalk/hooks/appdeploy/post/99_start_httpd.sh:
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      sudo service httpd restart
    commands:
      01_copy_ssl_config:
        command: "cp /var/app/current/.platform/httpd/conf.d/ssl-custom.conf /etc/httpd/conf.d/ssl-custom.conf"

      02_restart_httpd:
        command: "systemctl restart httpd"