files:
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIDWzCCAkOgAwIBAgIUG23ZihvyWuvV4cHG2K1CTIicJ1MwDQYJKoZIhvcNAQEL
      BQAwVjELMAkGA1UEBhMCVVMxEjAQBgNVBAgMCVdpc2NvbnNpbjEQMA4GA1UEBwwH
      TWFkaXNvbjEhMB8GA1UECgwYSW50ZXJuZXQgV2lkZ2l0cyBQdHkgTHRkMB4XDTI2
      MDMxNjE4NTQxNVoXDTI3MDMxNjE4NTQxNVowVjELMAkGA1UEBhMCVVMxEjAQBgNV
      BAgMCVdpc2NvbnNpbjEQMA4GA1UEBwwHTWFkaXNvbjEhMB8GA1UECgwYSW50ZXJu
      ZXQgV2lkZ2l0cyBQdHkgTHRkMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKC
      AQEAojUCL0KJ2XEt+4hGdodlXC0Z5sByfynT7ki+WAEEAiEhcLNahG2TYkJU2TmD
      Ips6OswoudpA1XvE1Tzn0AGZaj/mwNXrXbj1ccOZXCSz37oge91ZNn0IDi2i7Mtx
      f4l9xC+p8iGCdziT9CKrp70Jzd28UvKHJRAPDnlB8k3xSwLwtv+jhM01yu9UEF7J
      fYDCuTq7aXqOCVnyM9yZ/6/XGE7+q0rDaKNvrBVX/nk266LkMH0UtEd7+7dMX+Dw
      6JgXKOWaEY5B8P06j3BbQ+zdd+XpkwKYVvPOrUzzICOlhLioaITZ0wQVYF6a657j
      rEsyxq+bAch+4eld0FydyxlCXwIDAQABoyEwHzAdBgNVHQ4EFgQUAw28FyNtBUrI
      49rNt44VXFCcoEUwDQYJKoZIhvcNAQELBQADggEBAAM6by+tEWR//9NszkZQd5aM
      OB0+/EZL9kD4QlSqHv0mBkr7AzAX/H1d/BZ0GBucary0pYaA7o5cyTaAeTHhF98C
      al6qg/KEUnfUSGnUDX4npNGLa52vNdhAKXMVPsYckObjoKkBznseSK8OznpUgCDW
      zjF/GegRheLN+eKicfpUGstlI/t5OOSHrMDPn+piMmHejdyTHsPgNBnnshsBIvDh
      Ldlh1IlA1GkRhwClnuObMlIsMxO/n4LB7sQ3bXB+TZInkllu0JOcgIbvIoa9fTLk
      Xg65z7Q2rkJzS4c9L9BxQ6iAvU758FRmh5fkq5XentfX32Nzkp/4YeEzdZ/RJi4=
      -----END CERTIFICATE-----
      
  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIICmzCCAYMCAQAwVjELMAkGA1UEBhMCVVMxEjAQBgNVBAgMCVdpc2NvbnNpbjEQ
      MA4GA1UEBwwHTWFkaXNvbjEhMB8GA1UECgwYSW50ZXJuZXQgV2lkZ2l0cyBQdHkg
      THRkMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAojUCL0KJ2XEt+4hG
      dodlXC0Z5sByfynT7ki+WAEEAiEhcLNahG2TYkJU2TmDIps6OswoudpA1XvE1Tzn
      0AGZaj/mwNXrXbj1ccOZXCSz37oge91ZNn0IDi2i7Mtxf4l9xC+p8iGCdziT9CKr
      p70Jzd28UvKHJRAPDnlB8k3xSwLwtv+jhM01yu9UEF7JfYDCuTq7aXqOCVnyM9yZ
      /6/XGE7+q0rDaKNvrBVX/nk266LkMH0UtEd7+7dMX+Dw6JgXKOWaEY5B8P06j3Bb
      Q+zdd+XpkwKYVvPOrUzzICOlhLioaITZ0wQVYF6a657jrEsyxq+bAch+4eld0Fyd
      yxlCXwIDAQABoAAwDQYJKoZIhvcNAQELBQADggEBADVERIjpk51tY0I7cM71ZP/6
      VI/G6NH4b4qw7hKnCJ63HobuMLPh7af+wg5LBr1522wLUBXfPPGxZ7HhpIFiRdXd
      cbp+22TcEe9mTJHEylih1i76jnicYtQ9UM3n49HPlQaoFCLV+XGTCdBjQgjJH8Yf
      hOev6xyXX79w25k8/rZoNM8ILVWlO2J2dO7rlayqhf85UxWS9E2kwIUh8qaUHgXR
      S68syP4XHPAwGoK3zQt2Y/RH9SvEI7D33kt3BMTP2HBID9p1fzDiEJc3/uTT7dSe
      1599ElbRFZCLHBLev5HyC4OQ5fXIET8833TFH8Q2Pf6PCgzpC32JPC3+v/Rnocs=
      -----END RSA PRIVATE KEY-----

  /opt/elasticbeanstalk/hooks/appdeploy/post/99_start_httpd.sh:
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      sudo service httpd restart