files:
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE REQUEST-----
      MIICijCCAXICAQAwRTELMAkGA1UEBhMCQVUxEzARBgNVBAgMClNvbWUtU3RhdGUx
      ITAfBgNVBAoMGEludGVybmV0IFdpZGdpdHMgUHR5IEx0ZDCCASIwDQYJKoZIhvcN
      AQEBBQADggEPADCCAQoCggEBAJ4C17R4cW/vpPn73lOaeVl4gdHmDSb5WJ7NWTmM
      e8M404hUjI8/CUyNjDf9ewr7XzJ1rC5aic9jvpnjW1udHMKjhr5tQD43tNyTyZvq
      G9UoCJErovABll/wiDzf4DjUVC5REs0uL1V5/b/oGUVZbU9XVFef2clvvy8YKJYI
      0XUheFhFRaC03nMNTOTEYusxY/luuU0vJj32DiHyDwZp93TZ8izRU2I9A6trDyDY
      LnZd5xHOfK/e+rp5pE8JDvRhRyuGN+QRvase0QClRqEmROtVPsAkFvEt838orGis
      OyjqrB8JIwsEULvJ/3byqXmY6MQkXUT9OvnUDMZGpeLRLN0CAwEAAaAAMA0GCSqG
      SIb3DQEBCwUAA4IBAQAqlh9PsBzNR4h6Bp7bQsMF+TcBCw7N/LgYy6kkbQsoNYdD
      z7KmnHfkFGPW7zuyH+ZtVgE56fMXoF+X1V13P1pAdpBYn5JYad8Nf3bBpY+wCE5s
      v36TlYHRccscjt1t9B8CtxvIXddlYSyIrlVKOhN3XdHBBV/PU8gB2KyHbQQkM8tP
      R5zNUT9+2inbPVPESJ4ZceLCBl64eOzhVincmDoZ+vixo8PKLGBl0ZCgZndtoG+Y
      JrkAU2aYihEVb3GZlTNYW2ohiwWTglMOaNgwzDq9GycNclQ7ae9DhU93F2xnc6SF
      rQrx9y1r1bkiNHemg5RfBS7nvb6g7nvyqc/vBOPO
      -----END CERTIFICATE REQUEST-----
      
  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN PRIVATE KEY-----
      MIIEvAIBADANBgkqhkiG9w0BAQEFAASCBKYwggSiAgEAAoIBAQCeAte0eHFv76T5
      +95TmnlZeIHR5g0m+ViezVk5jHvDONOIVIyPPwlMjYw3/XsK+18ydawuWonPY76Z
      41tbnRzCo4a+bUA+N7Tck8mb6hvVKAiRK6LwAZZf8Ig83+A41FQuURLNLi9Vef2/
      6BlFWW1PV1RXn9nJb78vGCiWCNF1IXhYRUWgtN5zDUzkxGLrMWP5brlNLyY99g4h
      8g8Gafd02fIs0VNiPQOraw8g2C52XecRznyv3vq6eaRPCQ70YUcrhjfkEb2rHtEA
      pUahJkTrVT7AJBbxLfN/KKxorDso6qwfCSMLBFC7yf928ql5mOjEJF1E/Tr51AzG
      RqXi0SzdAgMBAAECggEAHI/CelxwEs30WfyBVEbeqwHJo42MMJCPSIsxVuHyKBhg
      QisYSjdYgLYwU5mV0WcdLtOO50UV1n8+33W1mJKGdZdV/ptkaqqqnll3bp+rXsUR
      AV6sIeqDij2B/tDv6I3W1pVwitaPl0mJCNSVJtAynk4YkIs0NIFmw0ZAZdhbtipp
      IkTuNXUJYzzHkxvuKcER/jys76aRB+JQLhbb1/QTK0KoNKKaZite+4e2rZbTHucK
      vvSuvXDa/X+E2cExJn1C9zof9QUvQvcLBLPrDTLa8L/3fZEkWT3nTLtriMz7Jhy6
      0b6ckYCd/S4/7smEWld/uNsafUIknprHs1NU388pmQKBgQDQrs19ASifuWAAK0Rp
      Vbik+19DUe4FGhqVDJ6MfFCiWuTgd+ekQNGBFFjrSBIYncdoJUkyvbB87cnLgACI
      /9ssAssJYKBxwdzjwA+fZ6B+igbAKT1mPZ0KFStCYbuMhm2i10orJtzSqTo9r2DD
      1ZbTjoHMJxCApNxcnnhvGZ1gZQKBgQDB1sAvDBn32UMW7aq2zIYnvyeiMFyIXiNW
      G/nVmjSqrQ5vVQABuAmNmkf40zmsgIy8TsoMXtXwjCzAdtzZ3+CP4ElQQTGCBRiA
      Fp/TfZ5MrKybcDitAjM/Lpmr/5IcjvdZ/rXY8sZkfuu6Qiep4XL9S6jb2RaCKV7/
      /JsjrJAHGQKBgD6nzUC0AVt7kAxc8UxjFW5Lnv2acsmLXeHUiSILDTbB7ahLt/wE
      DiMgVdZGrFBBxyZI06Jte7j2uDjmdMKtd0POjuGA5othNo4XE1m8Bl8X2BEIEMxK
      wYTOeE+VAnedwPs8gqNUJscFUlxE9Nu3nHJmfigqrnTBivwwBF7vJOZVAoGAYl+G
      cVoG484TSlOby+HIQ+uzRZCdpWeBL3ZLOKhmCiiBpubQdg7cakzeMd2g63bh9b9W
      syh+EvJQ0+x+8OO5p8r/6gbsBTxozrisrDyYVflcMBan7MWtFGel/bBairvTtIyb
      5VpwbRgssf5Y+tI79WisbcaisbQlTmz4nwY4oiECgYBtL+d1DUB0P82W4uemkTPy
      cJmHMn/XXVgdG88/2fPe7I3puaKUAc4lz2pExSFk2zIHi5GtNao7WB9yjjiZuCG2
      K68nFSwdvhYsQEZiGTdL19SwWV4SHxTLN0WBst41O7LyL6b5gtHyP2PCa+zuBsw4
      b/HN3rGbDY9X7JqXvEo8eA==
      -----END PRIVATE KEY-----


  /opt/elasticbeanstalk/hooks/appdeploy/post/99_start_httpd.sh:
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      sudo service httpd restart